<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header')-%>

    <body>
        <!-- Navigation-->
        <%- include('layouts/navbar_white')-%>
            <!-- Header-->
            <header class="bg-success py-5">
                <div class="container px-4 px-lg-5 my-5">
                    <div class="text-center text-white">
                        <h1 class="display-4 fw-bolder">KNU 메타버스</h1>
                        <br>
                        <p class="lead fw-normal text-white-50 mb-0">
                            코로나로 인해 단절된 학교 생활과 교우 관계를<br>
                            개선해보고자 만듦!
                        </p>
                    </div>
                </div>
            </header>
            <%- include('layouts/footer')-%>
            <%- include('layouts/script')-%>
    </body>

</html>