<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <title>KNU-metaverse</title>
    <style>
        * {
            padding : 0; 
            margin: 0;
        }
    </style>
    
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/public/css/room.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="/views/object/roomObject.js"></script>
    <script language="javascript" type="text/javascript" src="/views/object/userObject.js"></script>
    <script language="javascript" type="text/javascript" src="/views/object/rooms.js"></script>
    <script language="javascript" type="text/javascript" src="/views/socket/render.js"></script>
    <script language="javascript" type="text/javascript" src="/views/socket/socket.js"></script>
    <script language="javascript" type="text/javascript" src="../views/office.html"></script>
    
    <script>
        var roomId = 0;
        var socket = io();
        var socketId = socket.id;
        var myName;
        
        socket.emit('get_info', 1);
        
        socket.on('room_information', function(data){
            roomId = data.roomId
            socketId = data.socketId
            myName = data.userName
            document.getElementById("roomNumber").innerHTML=roomId + "호";   
            socket.emit('join', roomId);
        }) 
        
        $(function () {
            var $chatForm = $('#chatForm');
            var $chatLog = $('#chatLog');

            $chatForm.submit(function (e) {
                e.preventDefault();
                let msg = $("#message");
                if (msg.val() === "") {
                    return false;
                } else {
                    let data = {
                        roomId: roomId,
                        socketId: socketId,
                        userName: myName,
                        msg: msg.val()
                    };
                    socket.emit("send message", data);
                    msg.val("");
                    msg.focus();
                }
            });
            socket.on('new message', function (data) {
                console.log(data);
                if (data.socketId === socketId) {
                    $chatLog.append(`<div class="myMsg msgEl"><span class="msg">${data.msg}</span></div>`)
                } else {
                    $chatLog.append(`<div class="anotherMsg msgEl"><span class="anotherName">${data.userName}</span><span class="msg">${data.msg}</span></div>`)
                }
                $chatLog.scrollTop($chatLog[0].scrollHeight - $chatLog[0].clientHeight);
            });
        })

    </script>
   
</head>
<body>
    <div id = "title" style = "text-align: center; background-color: #4a6375;">
        <font size = "8em" color = "white">
            <b>KNU 메타버스</b>
        </font>
        <h1 style="background-color: #4a6375;">
            IT5
        </h1>
    </div>
      
    <div id="chatWrap">
            <div id="chatHeader">채팅창</div>
            <div id="chatLog">

            </div>
            <form id="chatForm">
                <input type="text" autocomplete="off" size="30" id="message" placeholder="메시지를 입력하세요" style="height: 45px;">
                <input id = "submit" type="submit" value="보내기">
            </form>
    </div>

    <div id ="study">
        
        <span id = "roomNumber"></span>
        <button class="button" type="button" id="webex_link" onclick="location.href='https://doyun7433.my.webex.com/meet/doyun7433';" 
        style="width: 300px; background-color: #97b3c9; border-radius: 1ch; color: white; margin-left: 20px; margin-top: 100px;">
            온라인 수업 들으러 가기
            </button>
        <button class="button" type="button" id="go_office" onclick="location.href='/office'"
        style="width: 300px; background-color: #97b3c9; border-radius: 1ch; color: white; margin-left: 20px; margin-top: 100px;">
            과사 입장하기
        </button>
    </div>

    <div id="info">
        <label class="switch" style="margin-left: 120px; margin-bottom: 130px;">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
        <br>
        <h3 style ="text-align:center;color:#6e7477; 
        font-size:20px; ">출석을 원하시면 <br>스위치를 누르십시요</h3><br>
        <p class = "off" style="margin-left: 90px; margin-top: 50px;">출석 OFF</p>
        <p class ="on" style="display:none; margin-left: 100px; margin-top: 50px;">출석 ON</p>
    </div>

<script>
    var check = $("input[type='checkbox']");
    check.click(function(){
    $("p").toggle();
    });
</script>


</body>
</html>
