<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>Smart Campus</title>
    <style>
        * {
            padding : 0; 
            margin: 0;
        }
        canvas {
            background-color: gray; 
            display: block; 
            margin : 0 auto;
            width: 1024px;
            height: 768px;
        }
    </style>
    
    <script src="/socket.io/socket.io.js"></script>
    <script language="javascript" type="text/javascript" src="/views/object/roomObject.js"></script>
    <script language="javascript" type="text/javascript" src="/views/object/userObject.js"></script>
    <script language="javascript" type="text/javascript" src="/views/object/rooms.js"></script>
    <script language="javascript" type="text/javascript" src="/views/socket/render.js"></script>
    <script language="javascript" type="text/javascript" src="/views/socket/socket.js"></script>
    <script>
        
    </script>
</head>
<body>
   <div style = "text-align: center;">
    <font size = "8em" color = "red" font-weight = "bold">
        <b>Smart Campus</b>
    </font>
  </div>
    <h1 style = "text-align: center;">
        IT5-
        <span id="roomNumber">roomid</span>
    </h1>
    <form id="canvas"></form>>


</body>
</html>